.main img {
  width: 600px;
  height: 600px;
}
.main {
  justify-content: space-between;
  display: flex;
  color: red;
}
.main h1 {
  font-size: 44px;
}
.main h2 {
  font-size: 36px;
}
.top_pad {
  padding-top: 150px;
}

@media (max-width: 1921px) {
  .main img {
    width: 600px;
    height: 600px;
  }
  .main h1 {
    font-size: 44px;
  }
  .main h2 {
    font-size: 36px;
  }
}
@media (max-width: 1641px) {
  .main img {
    width: 600px;
    height: 600px;
  }
  .main h1 {
    font-size: 44px;
  }
  .main h2 {
    font-size: 36px;
  }
}
@media (max-width: 1281px) {
  .main img {
    width: 600px;
    height: 600px;
  }
  .main h1 {
    font-size: 44px;
  }
  .main h2 {
    font-size: 36px;
  }
}
@media (max-width: 821px) {
  .main img {
    margin-top: 100px;
    width: 300px;
    height: 300px;
  }
  .main h1 {
    font-size: 38px;
  }
  .main h2 {
    font-size: 24px;
  }
}
@media (max-width: 769px) {
  .main img {
    width: 400px;
    height: 400px;
  }
  .main h1 {
    font-size: 44px;
  }
  .main h2 {
    font-size: 36px;
  }
}
@media (max-width: 481px) {
  .main {
    display: grid;
    color: red;
  }
  .main img {
    width: 200px;
    height: 200px;
  }
  .main h1 {
    font-size: 30px;
  }
  .main h2 {
    font-size: 36px;
  }
}
