.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.logo {
  display: flex;
}
.logo img {
  height: 80px;
  width: 140px;
}
.logo h1 {
  color: red;
  font-size: 28px;
  margin: 22px 0px 0px 20px;
}
ul {
  display: flex;
  list-style: none;
  font-size: 28px;
}
li {
  margin-right: 15px;
}
li a {
  font-weight: 100;
  color: gray;
}
